<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="First" connectionString="Server=.\SQLEXPRESS;Database=First;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="Second" connectionString="Server=.\SQLEXPRESS;Database=Second;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aString" value="Hello, World!"/>
    <add key="aBoolean" value="true"/>
  </appSettings>
</configuration>